<a href="https://colab.research.google.com/github/Summa-Cum-Laudes/dataScienceWithPython/blob/main/10_data_handling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# concat()
### pd.concat(
    objs,
    axis=0,
    join='outer',
    ignore_index: bool = False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity: bool = False,
    sort: bool = False,
    copy: bool = True
)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    )
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    )
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
result = pd.concat([df1,df2])
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

# concat()
### parameter : ignore_index
- ignore_index : bool, default False
    * False : 연결되기 전의 index 값을 그대로 사용
    * True : 새로운 index 값을 할당 (0, 1, ..., n-1)

In [ ]:
result = pd.concat([df1,df2], ignore_index= True)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

# concat()
### parameter : axis
- axis : {0/'index', 1/'columns'}, default 0
   * 0 : 행(index)간 연결
   * 1 : 열(columns)간 연결

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df3 = pd.DataFrame({'E': ['E0', 'E1', 'E2', 'E3'],
                    'F': ['F0', 'F1', 'F2', 'F3'],},
                    )
df3

    E   F
0  E0  F0
1  E1  F1
2  E2  F2
3  E3  F3

In [ ]:
result = pd.concat([df1,df3], axis= 1)
result

    A   B   C   D   E   F
0  A0  B0  C0  D0  E0  F0
1  A1  B1  C1  D1  E1  F1
2  A2  B2  C2  D2  E2  F2
3  A3  B3  C3  D3  E3  F3

# concat()
### parameter : join
- join : {'inner', 'outer'}, default 'outer'
    * outer : 데이터 손실이 없는 결합연결(union)
    * inner : 공통된 부분만 교차연결(intersection)

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df4 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],},
                    )
df4

    A   B   C
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

In [ ]:
result = pd.concat([df1,df4])
result

    A   B   C    D
0  A0  B0  C0   D0
1  A1  B1  C1   D1
2  A2  B2  C2   D2
3  A3  B3  C3   D3
0  A4  B4  C4  NaN
1  A5  B5  C5  NaN
2  A6  B6  C6  NaN
3  A7  B7  C7  NaN

In [ ]:
result = pd.concat([df1,df4], join= 'inner', ignore_index= True)
result

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

# append()
### df1.append(other, ignore_index=False, verify_integrity=False, sort=False) -> 'DataFrame'

In [ ]:
result = df1.append(df2)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
result = pd.concat([df1,df2])
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

# df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
Docstring:
Remove missing values.

Parameters
----------
- axis : {0 or 'index', 1 or 'columns'}, default 0
    * 0, or 'index' : 결측치를 가진 행 제거.
    * 1, or 'columns' : 결측치를 가진 열 제거.

- how : {'any', 'all'}, default 'any'
    * 'any' : 하나라도 NA 값을 가지면 해당 행 또는 열 제거.
    * 'all' : 모든값이 NA 이면 해당 행 또는 열 제거.
- inplace : bool, default False
    * True : 기존 DataFrame에 덮어쓰기.

In [ ]:
result = pd.concat([df1,df4])
result.dropna(axis=1, inplace=True)
result

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

In [ ]:
result = pd.concat([df1,df4])
result = result.dropna(axis=1)
result

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
0  A4  B4  C4
1  A5  B5  C5
2  A6  B6  C6
3  A7  B7  C7

# df.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None) 

Parameters
----------
- method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    * pad / ffill: 앞의 유효한 값으로 채우기
    * backfill / bfill: 뒤의 유효한 값으로 채우기
- limit : int, default None
    * NaN값을 채우기할 최대 수 지정

In [ ]:
result = pd.concat([df1,df4])
result = result.fillna(100)
result

    A   B   C    D
0  A0  B0  C0   D0
1  A1  B1  C1   D1
2  A2  B2  C2   D2
3  A3  B3  C3   D3
0  A4  B4  C4  100
1  A5  B5  C5  100
2  A6  B6  C6  100
3  A7  B7  C7  100

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                   columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [ ]:
result = df.dropna(axis=1, how='all')
result

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5
3  NaN  3.0  4

In [ ]:
result = df.fillna(method='ffill')
result

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [ ]:
result = df.fillna({'A': 0, 'B': 1, 'C': 2, 'D': 3})
result

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [ ]:
result = df.fillna({'A': 0, 'B': 1, 'C': 2, 'D': 3}, limit=1)
result

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  NaN  1
2  NaN  1.0  NaN  5
3  NaN  3.0  NaN  4

# concat()
### parameter : keys
- keys : sequence, default None
    * 전달된 keys 값들을 이용해 가장 바깥쪽 레벨의 계층적 index를 생성

In [ ]:
result = pd.concat([df1,df2], keys=['x', 'y'])
result

      A   B   C   D
x 0  A0  B0  C0  D0
  1  A1  B1  C1  D1
  2  A2  B2  C2  D2
  3  A3  B3  C3  D3
y 0  A4  B4  C4  D4
  1  A5  B5  C5  D5
  2  A6  B6  C6  D6
  3  A7  B7  C7  D7

In [ ]:
result.loc['x']

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
result.loc['x',2]

A    A2
B    B2
C    C2
D    D2
Name: (x, 2), dtype: object